.product-card{
    height: 445px;
    width: 285px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #F4F5F7;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}
#card-img{
    height: 300px;
    width: 285px;
}
.card-h3{
    font-family: Poppins-SemiBold;
    font-size: 19px;
    list-style-type: none;
    border: none;
    color: black;
    text-decoration:none;
    outline: none;
    padding: 0;
    margin: 0;
    margin: 10px 0;
}

a{
    text-decoration:none;
}
.paginationdiv{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.paginationdiv button {
    color: black;
    background-color:#F9F1E7;
    height: 60px;
    width: 60px;
    border: none;
    margin-bottom: 50px;
    cursor: pointer;
    border-radius: 10px;
}

.paginationdiv button:hover{
    color: white;
    background-color: #B88E2F;
}
.product-card p{
    font-family: Poppins-SemiBold;
    font-size: 20px;
    color: #3A3A3A;
   
    list-style-type: none;
    border: none;
    
    text-decoration:none;
    outline: none;
}
.productbox{display: flex;
    flex-direction: row;
    flex-wrap: wrap;
column-gap: 50px;
row-gap: 50px;
justify-content: center;
align-items: center;
margin-top: 0px;
margin-bottom: 50px;
background-color: white;
padding-top: 50px;}

  
  .product-card:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  }
  
  .product-card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: opacity 0.3s ease;
  }
  
  .product-card:hover .product-card-overlay {
    opacity: 1;
  }
  
  .product-card-overlay button {
    padding: 10px 20px;
    height: 50px;
    width: 200px;
    background-color: #fff;
    font-family: Poppins-SemiBold;
    color: #B88E2F;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .product-card-overlay button:hover {
    background-color: #ddd;
  }
@media screen and (max-width: 500px){

    .product-card{
        height: 350px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        background-color: #F4F5F7;
    }
    #card-img{
        height: 40%;
        width: 95%;
    }
    .productbox{display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 50px;
    justify-content:center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 50px;
    background-color: white;}
    a{
        width: 40%;
    }
    .card-h3{
        font-size: 16px;
    }
}


